div.wrapper-haf-logo
  include ../../../blocks/logo/logo
  +logo()
include ../../../blocks/button/button  
div.header-container
  include ../../../blocks/header/header
  div.header-wrapper
    +header(false)
  +header(true)
div.footer-container
  div.footer-wrapper
    include ../../../blocks/footer/footer 
  footer.footer-info
    div.footer-info__logo
      img(src="assets/img/logo/_bg/logo-color.svg", alt="logo")
    div.footer-info__bar
      include ../../../blocks/copyright-bar/copyright-bar      
      +copyright(true)