.container_bg_for-login {
  background-position: bottom;
  background-repeat: no-repeat;  
  background-size: cover;
}

.container_bg_for-login {
  min-height: 702px;
  background-image: url(/assets/img/register/bg-register-page.svg); 
}

.login-form-wrapper {
  margin: 0 auto;
}