.button {
  position: relative;
  font-family: Montserrat, Arial, sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 22px;
  outline: none;
  cursor: pointer;
 
  & ~ .button {
    margin-left: 20px;
  }
  
}