.container_bg_for-register {
  background-position: bottom;
  background-repeat: no-repeat;  
  background-size: cover;
}

.container_bg_for-register {
  min-height: 682px;
  background-image: url(/assets/img/register/bg-register-page.svg);
 
}

.register-form-wrapper {
  margin: 0 auto;
}