span.element__logo
div.kits
  - var values = ['bg-dark-shade-100', 'bg-dark-shade-75', 'bg-dark-shade-50', 'bg-dark-shade-25', 'bg-dark-shade-5',  'bg-purple',  'bg-green'];
  - var p1 = ['Dark Shade 100%', 'Dark Shade 75%', 'Dark Shade 50%', 'Dark Shade 25%', 'Dark Shade 5%',  'Purple',  'Green'];
  - var p2 = ['#1F2041', '#1F2041', '#1F2041', '#1F2041', '#1F2041',  '#BC9CFF',  '#6FCF97'];
  div.kit__block  
    div.colors
      each val in values
        div.color__block(class=val)
    div.titles
      each p, index in p1    
        div.title__block
          p.title__p.title__p_size-b.title__p_color=p
          p.title__p.title__p_size-r.title__p_color=p2[index]
  div.kit__block       
    div.types
      div.types__block.types__block_mb-50
        p.tag.types__element.types__element_mr-30.types__element_ta-right.montserrat-regular-xl.dark-shade-25 H1   
        p.types__element.dark-shade-100.quicksand-bold-xl This one is the sub-section or<br/> widget title
      div.types__block.types__block_mb-50
        p.tag.types__element.types__element_mr-30.types__element_ta-right.montserrat-regular-l.dark-shade-25 H2 
        p.types__element.dark-shade-100.quicksand-bold-l Next one is the item title inside<br/> widgets
      div.types__block.types__block_mb-50
        p.tag.types__element.types__element_mr-30.types__element_ta-right.montserrat-regular-s.dark-shade-25 H3     
        p.types__element.dark-shade-100.montserrat-bold-s This is a label or CTA text
      div.types__block.montserrat-regular-m
        p.tag.types__element.types__element_mr-30.types__element_ta-right.dark-shade-25 Body     
        p.types__element.dark-shade-75 This is the body text which is used for most<br/> of the design, like paragraphs, lists, etc.      