include ../../blocks/button/button
span.element__logo
div.headers
  div.headers__item
    include ../../blocks/header/header
  div.headers__item
    include ../../blocks/header2/header2
div.footers
  div.footers__item
    include ../../blocks/footer/footer 
  footer.footer-info
    div.footer-info__logo
      img(src="assets/img/logo/logoColor.svg", alt="logo")
    div.footer-info__title
        p Copyright © 2018 Toxin отель. Все права зачищены.
    div.footer-info__social-networks
      a.footer-info__link
        img(src="assets/img/footer/1.svg")
      a.footer-info__link
        img(src="assets/img/footer/2.svg")   
      a.footer-info__link
        img(src="assets/img/footer/3.svg")         
      