form.reserve-form
  include ../label/label
  div.room-number.reserve-form__room-number
    include ../title/room-title
    +roomTitle('888', '9 990₽', null, 'room-title__number_size-30', true)
  div.reserve-dates.reserve-form__reserve-dates
    +label('прибытие', 'label_bold label_with-element')        
    +label('выезд', 'label_bold')
    div.reserve-dates__wrapper
      div.reserve-form__datepicker
  div.reserve-guest.reserve-form__reserve-guest
    +label('гости', 'label_bold')
    div.reserve-guest__wrapper
      select.reserve-form__multiselect(value="Сколько гостей", name="counter")
        option(value="1") взрослые
        option(value="2") дети  
        option(value="0") младенцы
  div.reserve-pricelist
    div.reserve-service.reserve-service_mb-10
      span.reserve-service__span 9 990₽ х 4 суток
      span.reserve-service__span 39 960₽
    div.reserve-service.reserve-service_mb-10
      span.reserve-service__span Сбор за услуги: скидка 2 179₽
      span.reserve-service__span 0₽
      span.reserve-service__icon 
    div.reserve-service
      span.reserve-service__span Сбор за дополнительные <br/> услуги
      span.reserve-service__span 300₽
      span.reserve-service__icon
  div.reserve-total
    div.reserve-total__text 
      span.text Итого
    div.reserve-total__border
    div.reserve-total__text 
      span.text 38 081₽
  include ../button/button
  +button('забронировать', 'button_wide') 
    span.icon-button