mixin imgSlider(id, firstElId)  
  ul.img-slider(id=id)
    li.img-slider__element
      span(class='element_'+firstElId)
    li.img-slider__element
      span.element_1
    li.img-slider__element
      span.element_2
    li.img-slider__element
      span.element_3
    div.img-slider__arrow_left
      span.arrow__left
    div.img-slider__arrow_right
      span.arrow__right
    div.img-slider__dots 