div.wrapper-element-logo
  include ../../../blocks/logo/logo
  +logo()
div.element
  div.element__first-line
    div.element__line
      include ../../../blocks/label/label
      include ../../../blocks/input/input
      div.column
        div.column__field_mb_16
          div.field
            +label('default', 'label_weight_normal label_position_right')
            +label('text field', 'label_weight_bold')
              div.label__input
                +input('email', 'text', 'Email')
        div.column__field_mb_16
          div.field
            +label('hover / focus', 'label_weight_normal label_position_right')
            +label('text field', 'label_weight_bold')
              div.label__input
                +input('other', 'text', null, 'input_focused input_hovered', 'This is pretty awesome')   
        div.column__field_mb_18
          div.field
            +label('default', 'label_weight_normal label_position_right')
            +label('dropdown', 'label_weight_bold') 
            div.field__multiselect-wrapper.field_font_montserrat
              select.multiselect-collapsed.js-multiselect-collapsed(value="Сколько гостей", name="counter")
                option(value="0") взрослые
                option(value="0") дети  
                option(value="0") младенцы
        div.column__field_mb_37
          div.field
            +label('default', 'label_weight_normal label_position_right')        
            +label('masked text field', 'label_weight_bold')
              div.label__input
                +input('date', 'text', 'ДД.ММ.ГГГГ')
        div.column__field_mb_37       
          div.field
            +label('date dropdown', 'label_weight_bold label_position_inline')        
            +label('date dropdown', 'label_weight_bold')
            div.field__datepicker-wrapper.field_font_montserrat
              div.datepicker-range.js-datepicker-range
        div.column__field_mb_37.column__field_width_custom     
          div.field
            +label('filter date dropdown', 'label_weight_bold')
            div.field__datepicker-wrapper.field_font_montserrat
              div.datepicker-range-filter.js-datepicker-range-filter
        div.column__field_width_custom      
          div.field
            +label('subscription text field', 'label_weight_bold')
              div.field__input-wrapper
                +input('email', 'text', 'Email')
                  span.input__arrow
      div.column-middle
        div.column__field_mb_35
          div.field
            div.field__label_mb_16
              +label('Checkbox Buttons', 'label_weight_bold')
            include ../../../blocks/checkbox-list/checkbox-list
            +checkboxList([
              {label: 'Можно курить', classLabel: 'width_default', checked: 'checked'}, 
              {label: 'Можно с питомцами', classLabel: 'width_default', checked: 'checked'}, 
              {label: 'Можно пригласить гостей (до 10 человек)', checked: 'checked', classLabel: 'width_default', classItem: 'height_middle'}
              ])
        div.column__field_mb_36
          div.field
            div.field__label_mb_12
              +label('Radio Buttons ', 'label_weight_bold')
            include ../../../blocks/radio-button/radio-button
            +radio()
        div.column__field_mb_40
          div.field
            div.field__label_mb_12
              +label('Toggle', 'label_weight_bold')
            include ../../../blocks/toggle-button/toggle-button
            div.field__toggle-wrapper
              +toggle('Получать спецпредложения', 'checked')
            +toggle('Получать спецпредложения')
        div.column__field_mb_36
          div.field
            div.field__label_mb_16
              +label('like button', 'label_weight_bold')        
            include ../../../blocks/like-button/like-button
            div.field__like-wrapper
              +like('2')
            +like('12', 'checked')          
        div.field
          div.field__label_mb_16
            +label('rate button', 'label_weight_bold')        
          div.field__rate-wrapper
            include ../../../blocks/rate/rate
            +rate('rate-first', [{value: '5'}, {value: '4', checked:"checked"}, {value: '3'}, {value: '2'}, {value: '1'}])
            +rate('rate-second', [{value: '5', checked:"checked"}, {value: '4'}, {value: '3'}, {value: '2'}, {value: '1'}])
      div.column
        div.column__field_mb_40.column__field_width_custom
          div.field
            +label('default', 'label_weight_normal label_position_right label_slider js-label_slider')
            +label('Range Slider', 'label_weight_bold') 
            div.field__custom-slider      
              div.custom-slider.js-custom-slider
        div.column__field_mb_36    
          div.field
            div.field__label_mb_16
              +label('buttons', 'label_weight_bold') 
            include ../../../blocks/button/button     
            div.field__button
              +button('CLICK ME', 'button_size_small button_height_large button_bg_purple button_color_white button_without-border button_focused')          
              +button('CLICK ME', 'button_size_small button_height_large button_bg_purple button_color_white button_without-border button_focused button_disabled') 
            div.field__button
              +button('CLICK ME', 'button_size_small button_height_large button_bg_white button_color_purple button_with-border button_focused')          
              +button('CLICK ME', 'button_size_small button_height_large button_bg_white button_color_purple button_with-border button_focused button_disabled')
            div.field__button
              +button('CLICK ME', 'button_height_small button_bg_white button_color_purple button_without-border button_focused')
              +button('CLICK ME', 'button_height_small button_bg_white button_color_grey button_without-border button_focused')       
            +button('перейти к оплате', 'button_size_wide button_height_large button_bg_purple button_color_white button_without-border button_focused')
              span.button__icon       
        div.field
          div.field__label_mb_16
            +label('pagination', 'label_weight_bold')        
          include ../../../blocks/pagination/pagination     
  div.element__second-line
    div.element__line
      div.column
        div.column__field_mb_16.column__field_width_custom
          div.field
            +label('default', 'label_weight_normal label_position_right')
            +label('dropdown', 'label_weight_bold') 
            div.field__multiselect-wrapper.field_font_montserrat
              select.multiselect-collapsed-with-value.js-multiselect-collapsed-with-value(value="Сколько всего")
                option(value="0") спальни
                option(value="0") кровати
                option(value="0") ванные комнаты
        div.column__field_width_custom        
          div.field
            +label('expanded', 'label_weight_normal label_position_right')
            +label('dropdown', 'label_weight_bold')
            div.field__multiselect-wrapper.field_font_montserrat
              select.multiselect-expanded-with-value.js-multiselect-expanded-with-value(value="Сколько всего")
                option(value="0") спальни
                option(value="0") кровати  
                option(value="0") ванные комнаты
      .column-wrapper
        div.column
          div.field
            +label('dropdown', 'label_weight_bold')
            div.field__multiselect-wrapper.field_font_montserrat
              select.multiselect-expanded-default.js-multiselect-expanded-default(value="Сколько гостей")
                option(value="0") взрослые
                option(value="0") дети  
                option(value="0") младенцы   
      div.column
        div.field
          +label('dropdown', 'label_weight_bold')
          div.field__multiselect-wrapper.field_font_montserrat 
            select.multiselect-expanded-total-value.js-multiselect-expanded-total-value(value="Сколько гостей")
              option(value="2") взрослые
              option(value="1") дети  
              option(value="0") младенцы
  div.element__third-line
    div.element__line
      div.column
        include ../../../blocks/checkbox-list-expandable/checkbox-list-expandable   
        div.column__field_mb_20
          div.field
            +listExpandable('collapsed', [
              {label: 'Завтрак'}, 
              {label: 'Письменный стол'}, 
              {label: 'Стул для кормления'}, 
              {label: 'Кроватка'}, 
              {label: 'Телевизор'}, 
              {label: 'Шампунь'}
              ], 'expandable checkbox list')
        div.field
          +listExpandable('expanded', [
            {label: 'Завтрак'}, 
            {label: 'Письменный стол', checked: "checked"}, 
            {label: 'Стул для кормления', checked: "checked"}, 
            {label: 'Кроватка', checked: "checked"}, 
            {label: 'Телевизор'}, 
            {label: 'Шампунь'}
            ], 'expandable checkbox list')
      div.column-middle
        include ../../../blocks/checkbox-list/checkbox-list  
        div.field
          div.field__label
            +label('Rich Checkbox Buttons', 'label_weight_bold')
          +checkboxList([
            { label: 'Широкий коридор', classLabel: 'width_default', classItem: 'height_custom', richText: 'Ширина коридоров в номере не менее 91 см.', rich: true }, 
            { label: 'Помощник для инвалидов', classLabel: 'width_custom', classItem: 'height_custom', richText: 'На 1 этаже вас встретит специалист и проводит до номера.', rich: true }
            ])       
      div.column
        div.field
          div.field__label
            +label('bullet list', 'label_weight_bold')
          include ../../../blocks/bullet-list/bullet-list
          .bullet-list-wrapper
            +bullet(['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00'])             
  div.element__line
    div.column
      include ../../../blocks/feature/feature          
      div.column__field_mb_20
        div.field
          +feature('Комфорт', 'Шумопоглощающие стены', 'feature__icon_smile')
          hr.separator           
      div.field
        +feature('Удобство', 'Окно в каждой из спален', 'feature__icon_city')
        hr.separator 
    div.column.column_width_custom
      include ../../../blocks/post/post
      .field-post-wrapper              
        div.field
          +post('Мурад Сарафанов', '5 дней назад', 'feature__icon_avatar_man', '12', 'checked', 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.')