@import "src/blocks/bullet-list/bullet-list.scss";
@import "src/blocks/button/button.scss";
@import "src/blocks/checkbox-list-expandable/checkbox-list-expandable.scss";
@import "src/blocks/like-button/like-button.scss";
@import "src/blocks/radio-button/radio-button.scss";
@import "src/blocks/toggle-button/toggle-button.scss";
@import "src/blocks/pagination/pagination.scss";
@import "src/blocks/rate/rate.scss";
@import "src/blocks/feature/feature.scss";
@import "src/blocks/post/post.scss";
@import "src/blocks/input/input.scss";
@import "src/blocks/label/label.scss";
@import "src/blocks/logo/logo.scss";

.wrapper {
  position: relative;
  top: 30px;
  left: 30px;
}

.elements {
  height: 1853px;
}

.line {
  display: flex;
  flex-wrap: wrap;
  margin: 0 10%;
  justify-content: space-between;

  &:first-of-type {
    margin-top: 10%;
  }

  &.line_mb-100 {
    margin-bottom: 100px;
  }

  &.line_mb-158 {
    margin-bottom: 158px;
  }

  &.line_mb-53 {
    margin-bottom: 53px;
  }
}

.element-column {
  width: 320px;

  &__field {
    margin-bottom: 20px;
  }

  &_custom-width {
    width: 64.5%;
  }
}

.field {
  width: 100%;

  &_mb-40 {
    margin-bottom: 40px;
  }
  &_mt-14 {
    margin-top: 14px;
  }

  &__label {
    display: block;
    margin-bottom: 16px;
  }

  &__multiselect-wrapper {
    margin-top: 5px;
    position: relative;
  }
  &__datepicker-wrapper {
    margin-top: 5px;
    position: relative;
  }

  &__input-wrapper {
    margin-top: 5px;
    position: relative;
  }

  &__toggle-wrapper {
    margin-bottom: 10px;
  }

  &__like-wrapper {
    display: inline-block;
    margin-right: 10px;
  }

  &__rate-wrapper {
    display: flex;

    & .rate:first-of-type {
      margin-right: 20px;
    }
  }

  &__custom-slider {
    margin-top: 20px;
  }

  &__custom-button-wrapper {
    margin-bottom: 30px;
  }
}

.font-montserrat {
  font-family: Montserrat, Arial, sans-serif;
  font-weight: 400;
}

.custom-width {
  width: 266px;
}


