@import "src/blocks/bullet-list/**/*.scss";
@import "src/blocks/button/**/*.scss";
@import "src/blocks/checkbox-list-expandable/**/*.scss";
@import "src/blocks/like-button/like-button.scss";
@import "src/blocks/radio-button/**/*.scss";
@import "src/blocks/toggle-button/toggle-button.scss";
@import "src/blocks/pagination/pagination.scss";
@import "src/blocks/rate/**/*.scss";
@import "src/blocks/feature/**/*.scss";
@import "src/blocks/post/post.scss";
@import "src/blocks/input/**/*.scss";
@import "src/blocks/label/**/*.scss";
@import "src/blocks/logo/**/*.scss";

.wrapper {
  position: relative;
  top: 30px;
  left: 30px;
}

.element {
  height: 1853px;
  margin-top: 10%;
}

.element__first-line {
  margin-bottom: 100px;
}

.element__second-line {
  margin-bottom: 158px;
}

.element__third-line {
  margin-bottom: 53px;
}


.element__line {
  display: flex;
  flex-wrap: wrap;
  margin: 0 10%;
  justify-content: space-between; 
}

.column {
  width: 320px;
}

.column__field_mb_20 {
  margin-bottom: 20px;
}

.column__field_mb_40 {
  margin-bottom: 40px;
}

.column__field_width_custom {
  width: 266px;
}

.column_width_custom {
  width: 64.5%;
}

.field {
  width: 100%;

  &__label {
    padding: 14px 0 12px;
  }

  &__label_mb_16 {
    margin-bottom: 16px;
  }

  &__multiselect-wrapper {
    margin-top: 5px;
    position: relative;
  }
  &__datepicker-wrapper {
    margin-top: 5px;
    position: relative;
  }

  &__input-wrapper {
    margin-top: 5px;
    position: relative;
  }

  &__toggle-wrapper {
    margin-bottom: 10px;
  }

  &__like-wrapper {
    display: inline-block;
    margin-right: 10px;
  }

  &__rate-wrapper {
    display: flex;

    & .rate:first-of-type {
      margin-right: 20px;
    }
  }

  &__custom-slider {
    padding: 20px 0 0 0;
  }

  &__button {
    margin-bottom: 30px;
  }

  &_font_montserrat {
    font-family: Montserrat, Arial, sans-serif;
    font-weight: 400;
  }
}