@import "src/blocks/filter/filter.scss";
@import "src/blocks/room/room.scss";

.container__search-room {
  height: 100%;
  display: block;
}

.search-room {
  display: flex;
  padding: 28px 140px 70px 140px;  
}

.search-room__filter {
  margin-right: 60px;
}

.search-room__result {
  max-width: 840px;   
}

.result {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  width: 850px;

  & .room {
    margin-right: 12px;
    margin-bottom: 21px;
  }
}

.search-room__pagination {
  .pagination__container {
    margin: 0 auto;
  }
}

@media (max-width: 1200px) {
  .result {
    width: 570px;
  }
}

@media (max-width: 992px) {
  .search-room {
    padding: 30px 70px 70px 70px;
  }

  .search-room__filter {
    margin-right: 40px;
  }

  .search-room__result {
    .label_for-filter {
      height: 50px;
    }
  }
}

@media (max-width: 768px) {
  .result {
    width: 280px;
  }
}