.input {
  display: block;
  max-width: 320px;
  max-height: 44px;

  height: 44px;
  width: 100%;

  padding: 7px 12px 9px 12px;

  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;

  font-family: Montserrat, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);

  &::-webkit-input-placeholder {
    font-family: Montserrat, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.25);
  }
}
