@import "../title/title.scss";
@import "../toggle-button/toggle-button.scss";
@import "../radio-button/**/*.scss";
@import "../input/**/*.scss";
@import "../button/**/*.scss";

.register-form {
  width: 380px;
  height: 646px;
  padding: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.register-form__title,
.register-form__gender,
.register-form__birthdate,
.register-form__toggle {
  margin-bottom: 20px;
}

.register-form__to-pay {
  margin-bottom: 30px;
}

.register-form__datepicker {
  position: relative;
  margin-top: 5px;

  .header__text {
    color: rgba(31, 32, 65, 0.25);
  }
}

.register-form__name,
.register-form__surname,
.register-form__email,
.register-form__userdata {
  margin-bottom: 10px;
}

.register-form__label {
  margin-bottom: 5px;
}

.register-form__to-sing-in {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.register-form__span {
  height: 18px;
  font-family: Montserrat, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}
