html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel="icon", href="assets/favicon.ico", type="image/ico")
    title FormElements
  body
    header.header__auth
    section.container
      form.filters
      div.rooms
        h3.rooms__title  
        div.cards
          .card__room
          .card__room
          .card__room
          .card__room
          .card__room
          .card__room
          .card__room
          .card__room
          .card__room
        div.rooms__pagination
    footer.footer_withlinks  