.checkbox-button {
  box-sizing: border-box;
  border-radius: 4px;

  --active: #fff;
  --active-inner: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);

  --border: rgba(31, 32, 65, 0.25);
  --border-active: #bc9cff;

  -webkit-appearance: none;
  -moz-appearance: none;
  height: 20px;
  width: 20px;
  outline: none;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin: 0;

  border: 1px solid var(--bc, var(--border));
  background: var(--b, var(--active));
  cursor: pointer;

  &:focus {
    border: 2px solid gray;
  }

  &:after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 6px;
    height: 8px;
    border: 2px solid #bc9cff;
    border-top: 0;
    border-left: 0;
    left: 6px;
    top: 4px;
    transform: rotate(var(--r, 20deg));

    opacity: var(--o, 0);
  }

  &:checked {
    --r: 45deg;
    border: 1px solid var(--border-active);

    --o: 1;
  }

  & + .checkbox-label {
    font-size: 14px;
    line-height: 18px;
    display: inline-block;
    vertical-align: middle;

    margin-left: 10px;
    cursor: pointer;

    .text__content {
      font-size: 12px;
      line-height: 14px;
    }
  }

  & + .checkbox-label_w-192 {
    width: 192px;
  }
}
