form.findroom-form
  include ../label/label 
  include ../title/title
  +title('Найдём номера под ваши пожелания', 'findroom-form__title')
  div.dates.findroom-form__dates
    +label('прибытие', 'label_bold label_with-element')        
    +label('выезд', 'label_bold')
    div.dates__wrapper
      div.findroom-form__datepicker
  div.guest.findroom-form__guest
    +label('гости', 'label_bold')
    div.guest__wrapper
      select.findroom-form__multiselect(value="Сколько гостей", name="counter")
        option(value="0") взрослые
        option(value="0") дети  
        option(value="0") младенцы
  include ../button/button
  +button('подобрать номер', 'button_wide')
    span.icon-button   
    