@import "../button/button.scss";
@import "../title/title.scss";

.findroom-form {
  width: 380px;
  height: 374px;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  padding: 30px;

  &__title {
    position: relative;
    margin-bottom: 20px;
  }

  &__dates {
    position: relative;
    margin-bottom: 20px;
  }

  &__guest {
    position: relative;
    margin-bottom: 31px;
  }
}

.dates,
.guest {
  &__wrapper {
    position: relative;
    margin-top: 5px;
    font-family: Montserrat, Arial, sans-serif;
    font-weight: 400;
  }
}
