div.pagination__container
  div.page.page_prev
    span
  div.page.page_select 1
  div.page 2
  div.page 3
  div.ellipsis ...
  div.page 15
  div.page.page_next
    span
span.pagination__info 1 – 12 из 100+ вариантов аренды