mixin checkbox(label, checked, className, rich, richText)
  label
    input.checkbox-button(type="checkbox", checked!=checked)
    div.checkbox-label(class!=className)
      if rich
        p.text__title 
          strong= label
        p.text__content= richText
      else
        = label