.wrapper-logo {
  position: fixed;
  top: 30px;
  left: 30px;
}

.kit {
  display: flex;
  flex-wrap: nowrap;  
  justify-content: space-between;

  margin: 10.07% 10.417% 0 10.417%;
}

.kit__block {
  display: flex;
  flex-wrap: nowrap;
}

.kit__color-container,
.kit__title-container {
  display: flex;
  flex-flow: column nowrap;
}

.kit__color {
  width: 70px;
  height: 70px;
  margin: 0px 40px 20px 0px;
  border-radius: 6px;
}

.kit__title {
  line-height: 28px;
  height: 70px;
  margin-bottom: 20px;
  padding-top: 8px;
}

.kit__text {
  margin: 0;
  font-family: Montserrat, Arial, sans-serif;;
  font-size: 19px;
  color: #1f2041;
}

.kit__type-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.kit__type-wrapper {
  margin-bottom: 51px;
}

.kit__type-wrapper-extra {
  margin-bottom: 50px;
}

.kit__type {
  display: flex;
  min-width: 457px;  
}

.kit__tag {
  margin: 0;
  min-width: 50px;
  text-align: right;
  margin-right: 30px;
  color: rgba(31, 32, 65, 0.25);
  font-family: Montserrat, Arial, sans-serif;
  font-weight: 400;
}