.wrapper
  include ../../../blocks/logo/logo
  +logo()
div.kit
  - var bgColors = ['dark-shade-100', 'dark-shade-75', 'dark-shade-50', 'dark-shade-25', 'dark-shade-5',  'purple',  'green'];
  - var descriptions = ['Dark Shade 100%', 'Dark Shade 75%', 'Dark Shade 50%', 'Dark Shade 25%', 'Dark Shade 5%',  'Purple',  'Green'];
  - var codes = ['#1F2041', '#1F2041', '#1F2041', '#1F2041', '#1F2041',  '#BC9CFF',  '#6FCF97'];
  div.kit__block
    div.kit__color-container
      each color in bgColors
        div.kit__color(class= 'kit__color_bg_' + color)
    div.kit__title-container
      each desc, index in descriptions    
        div.kit__title
          p.kit__text.kit__text_weight_bold= desc
          p.kit__text.kit__text_weight_normal= codes[index]
  div.kit__block
    div.kit__type-container
      div.kit__type-wrapper
        div.kit__type.kit__type_size_extra_large
          p.kit__tag H1   
          p.kit__description.kit__description_color_dark-shade-100.kit__description_font_montserrat_bold This one is the sub-section or<br/> widget title
      div.kit__type-wrapper    
        div.kit__type.kit__type_size_large
          p.kit__tag H2 
          p.kit__description.kit__description_color_dark-shade-100.kit__description_font_montserrat_bold Next one is the item title inside<br/> widgets
      div.kit__type-wrapper  
        div.kit__type.kit__type_size_small
          p.kit__tag H3     
          p.kit__description.kit__description_color_dark-shade-100.kit__description_font_montserrat_bold.kit__description_text_uppercase This is a label or CTA text
      div.kit__type.kit__type_size_middle
        p.kit__tag Body     
        p.kit__description.kit__description_color_dark-shade-75.kit__description_font_montserrat_regular This is the body text which is used for most<br/> of the design, like paragraphs, lists, etc.      