div.diagram
  div.diagram__block.diagram__block_yellow
  div.diagram__block.diagram__block_purple
  div.diagram__block.diagram__block_green
  div.diagram__info
    p.diagram__count 260
    p.diagram__name голосов