mixin cardroom(addClass, number, price, mixClass, modeClass, isLux, count, sliderId, firstElId, ratename, ratedata)
  div.card(class!=addClass)
    div.roomphotos.card__roomphotos
      include ../image-slider/image-slider
      +imgSlider(sliderId, firstElId)
    include ../title/room-title
    +roomTitle(number, price, mixClass, modeClass, isLux) 
    hr.rateline.card__rateline
    div.roomrate.card__roomrate
      include ../rate/rate
      +rate(ratename, ratedata)
      div.review
        p.count
          span
            strong= count
            |  Отзывов