@import "../labels/labels.scss";
@import "../room-quality/room-quality.scss";
@import "../reserve-form/reserve-form.scss";
@import "../bullet-list/bullet-list.scss";
@import "../post/post.scss";

.container_details {
  height: 100%;
  display: block;
}

.photo {
  height: 485px;
  max-width: 1920px;
  max-height: 485px;
  display: flex;

  &__item {
    flex: 1 1 auto;
    overflow: hidden;    

    &_bg-image-0 {
      width: 100%;
      height: 100%;
      max-width: 1200px;
      max-height: 485px;
      background-image: url(/assets/img/details/big-image.svg);
      background-size: cover;
    }
  }
}

.photo-column {
  min-width: 467px;
  min-height: 460px;
  max-width: 685px;
  max-height: 485px;
  display: flex;
  flex-direction: column;


  &__item {
    width: 100%;
    height: 100%;    
    max-height: 250px;
    overflow: hidden;
    &_matrix {
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }
    &_bg-image-1 {
      background-image: url(/assets/img/details/small-image1.svg);
      background-size: cover;
    }
    &_bg-image-2 {
      background-image: url(/assets/img/details/small-image2.svg);
      background-size: cover;
    }
  }
}

.details-room__wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  padding: 70px 140px;
}

.reserve-form__wrapper {
  position: relative;
}

.details {
  margin-right: 70px;

  &__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  &__item {
    position: relative;
  }

  &__quality {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    &:last-child hr {
      display: none;
    }
  }

  &__diagram {
    display: inline-block;
    margin-right: 30px;
  }

  &__list {
    position: relative;
    display: inline-block;

    .bullet-list {
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          margin-bottom: 5px;

          font-family: MontserratRegular;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 24px;
          color: rgba(31, 32, 65, 0.75);

          &:last-child {
            margin-bottom: 0;
          }
        }

        li::before {
          content: "";
          display: inline-block;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          margin-right: 5px;
        }

        .li_yellow::before {
          background: linear-gradient(180deg, #ffe39c 0%, #ffba9c 100%);
        }
        .li_green::before {
          background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
        }
        .li_purple::before {
          background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
        }
        .li_black::before {
          background: linear-gradient(180deg, #919191 0%, #3d4975 100%);
        }
      }
    }
  }

  &__post {
    position: relative;
    margin-bottom: 20px;

    &:last-of-type {
      margin-bottom: 0px;
    }

    &:first-of-type .post {
      height: auto;
    }
  }

  &__bullet {
    width: 260px;
    margin-right: 80px;
  }

  &__info {
    width: 341px;
  }

  &__button {
    padding: 40px 20px 0 20px;
  }
}

.diagram {
  position: relative;
  width: 130px;
  height: 130px;

  &_yellow {
    position: absolute;
    width: 60px;
    height: 122px;
    border-radius: 120px 0 0 120px;
    border: 4px solid #ffe39c;
    border-right: none;
  }

  &_green {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 0 0 120px 0;
    border: 4px solid #6fcf97;
    border-left: none;
    border-top: none;

    right: 0;
    bottom: 0;
  }

  &_purple {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 0 120px 0 0;
    border: 4px solid #bc9cff;
    border-left: none;
    border-bottom: none;

    right: 0;
  }

  &__text {
    position: absolute;
    display: block;
    top: 30%;
    left: 25%;
    text-align: center;
  }

  &__name,
  &__count {
    margin: 0;
    color: #bc9cff;
    font-style: normal;
    font-weight: bold;
  }

  &__count {
    font-family: QuicksandBold;
    font-size: 24px;
    line-height: 30px;
  }
  &__name {
    font-family: MontserratBold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
  }
}

.info {
  font-family: MontserratRegular;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

.hide {
  visibility: hidden;
}

@media (max-width: 1440px) {
  .photo {
    max-height: 100%;

    &__item {
      &_bg-image-0 {
        max-width: 1000px;
      }
    }
  }
  
}

@media (max-width: 1200px) {
  .photo {
    flex-wrap: wrap;
    max-height: 1455px;
    height: 1455px;
    padding: 0 125px;
  }
  .photo-column {
    max-width: 1200px;
    max-height: 966px;
    height: 100%;

    &__item {
      max-height: none;
    }
  }

  .column {
    flex-direction: row;
    justify-content: center;
  }

  .hide {
    visibility: visible;
  }

  .overlay {
    opacity: 0;
    visibility: hidden;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 20;
    transition: 0.3s all;
  }

  .modal {
    /* Скрываем окна  */
    opacity: 0;
    visibility: hidden;

    /*  Центрируем и задаем z-index */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30; /* Должен быть выше чем у подложки*/

    /*  Побочные стили   */
    //box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2);
    transition: 0.3s all;
  }

  .modal.active,
  .overlay.active {
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 900px) {
  .photo {
    padding: 0;
    max-height: 840px;
    height: 840px;

    &__item {
      &_bg-image-0 {
        max-height: 340px;
      }
    }
  }

  .photo-column {
    max-width: 900px;
    max-height: 500px;
    height: 100%;

    &__item {
      max-height: none;
    }
  }

  .details {
    &__row {
      flex-wrap: wrap;
      margin-bottom: 20px;
    }

    &__item {
      margin-bottom: 20px;
    }

    &__post {
      overflow: hidden;

      &:hover {
        height: 200px;
      }
    }
  }

  .details-room {
    &__wrapper {
      padding: 20px;
    }
  }
}

@media (max-width: 767px) {
  .photo {
    padding: 0;
    max-height: 750px;
    height: 750px;

    &__item {
      &_bg-image-0 {
        max-height: 250px;
      }
    }
  }

  .column {
    flex-direction: column;
  }
}
