mixin radio(mixClass)
  div.radio(class!=mixClass)
    label.radio__wrapper
      input.radio__button(type="radio", name="gender", checked="checked")
      div.radio__label Мужчина
    label.radio__wrapper
      input.radio__button(type="radio", name="gender")
      div.radio__label Женщина