.reserve-form {
  width: 380px;
  height: 511px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  padding: 40px 30px 30px;
}

.reserve-form__title {
  position: relative;
  margin-bottom: 16px;
}

.reserve-form__dates {
  position: relative;
  margin-bottom: 16px;
}

.reserve-form__guest {
  position: relative;
  margin-bottom: 17px;
  height: 69px;
}

.reserve-form__datepicker,
.reserve-form__multiselect {
  position: relative;
  margin-top: 5px;
  font-family: Montserrat, Arial, sans-serif;
  font-weight: 400;
}

.reserve-form__pricelist {
  position: relative;
  margin-bottom: 30px;
}

.reserve-form__service-wrapper {
  margin-bottom: 10px;
}

.reserve-form__totalprice {
  margin-bottom: 20px;
  position: relative;
  height: 24px;
  display: flex;
  justify-content: space-between;
}

.reserve-form__border {
  height: 1px;
  border: 1px dotted rgba(31, 32, 65, 0.25);
  padding-top: 17px;
  border-top: none;
  border-left: none;
  border-right: none;
  box-sizing: border-box;
  width: 176px;
}

.reserve-form__text {
  font-family: Montserrat, Arial, sans-serif;
  font-weight: 700;
  font-size: 19px;
  line-height: 23px;
  color: #1f2041;
}