form.reserve-form.js-reserve-form
  include ../label/label
  include ../room-title/room-title
  div.reserve-form__title
    +roomTitle('888', '9 990₽', 'large', true)
  div.reserve-form__dates    
    +label('прибытие', 'label_weight_bold label_position_inline')        
    +label('выезд', 'label_weight_bold')
    div.reserve-form__datepicker-plugin
      - var options = '{"mode":"Range"}';
      - var values = '{"start":{"date":19,"month":7,"year":2019},"end":{"date":23,"month":7,"year":2019}}';
      div.datepicker-plugin.js-datepicker-plugin(data-options=options, data-values=values)
  div.reserve-form__guest    
    +label('гости', 'label_weight_bold')
    div.reserve-form__multiselect-plugin
      - options = '{"state":"Collapsed","options":[{"text":"взрослые","value":"1","unique":false},{"text":"дети","value":"2","unique":false},{"text":"младенцы","value":"0","unique":true}],"title":"Сколько гостей","totalTextTitle":"гостя"}';
      select.multiselect-plugin.js-multiselect-plugin(value="Сколько гостей", name="counter", data-options=options)
        option(value="1") взрослые
        option(value="2") дети  
        option(value="0") младенцы
  div.reserve-form__pricelist
    include ./__service/reserve-form__service
    div.reserve-form__service-wrapper
      +service('9 990₽ х 4 суток', '39 960₽')
    div.reserve-form__service-wrapper
      +service('Сбор за услуги: скидка 2 179₽', '0₽')
        span.reserve-form__icon
    +service('Сбор за дополнительные\n услуги', '300₽', true)
      span.reserve-form__icon
  div.reserve-form__totalprice
    span.reserve-form__text Итого 
    div.reserve-form__border
    span.reserve-form__text 38 081₽
  include ../button/button
  +button('забронировать','button_size_wide button_height_large button_bg_purple button_color_white button_without-border button_focused')
    span.button__icon