footer.footer.js-footer
  div.widget.js-widget
    include ../widget-list/widget-list
    div.widget__item
      div.widget__logo
        a(href="http://localhost:8082") 
          img(src="assets/img/logo/_bg/logo-color.svg", alt="logo")        
      div.widget__description
        p Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
    div.widget__item
      +widgetList([{text: 'Навигация', highlighted: true}, {text: 'О нас'}, {text: 'Новости'}, {text: 'Служба поддержки'}, {text: 'Услуги'}])
    div.widget__item
      +widgetList([{text: 'О нас', highlighted: true}, {text: 'О сервисе'}, {text: 'Наша команда'}, {text: 'Вакансии'}, {text: 'Инвесторы'}])
    div.widget__item
      +widgetList([{text: 'Служба поддержки', highlighted: true}, {text: 'Соглашения'}, {text: 'Сообщества'}, {text: 'Связь с нами'}])
    div.widget__item
      +widgetList([{text: 'Подписка', highlighted: true}, {text: 'Получайте специальные предложения и новости сервиса', isSpecial: true}, {text: '', block: true}])
  include ../copyright-bar/copyright-bar
  +copyright()