doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name="keywords" content="html, css, javascript, page, fsd, work")
    meta(name="description" content="Training project with hotel room search pages")
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel="icon", href="assets/favicon.ico", type="image/ico")
    title Registration  
  body
    template
      div.register
        include ../blocks/register-form/register-form
      div.login
        include ../blocks/login-form/login-form
      div.find-room
        include ../blocks/find_room-form/find_room-form
      div.details
        include ../blocks/details-room/details-room
      div.filter
        include ../blocks/search-room/search-room
      div.cat
        include ../../pages/ui-kit/colors-and-type/colors-and-type
      div.elements
        include ../../pages/ui-kit/elements/elements
      div.cards
        include ../../pages/ui-kit/cards/cards
      div.haf
        include ../../pages/ui-kit/headers-and-footers/headers-and-footers
    include ../blocks/header/header      
    section.container
      div.register-form_wrapper
    include ../blocks/footer/footer