@import "src/blocks/header/header.scss";
@import "src/blocks/footer/footer.scss";
@import "src/blocks/label/label.scss";
@import "src/blocks/find-room-form/find-room-form.scss";

.container {
  max-width: 100%;
  height: 702px;
  display: flex;
  align-items: center;
}

.container_bg_for-landing {
  background-image: url(/assets/img/website/landing/bg-landing-page.svg);
}

.find-room-form-wrapper {
  margin-left: 140px;
  margin-top: 70px;
  align-self: start;
}

@media (max-width: 992px) {
  .find-room-form-wrapper {
    margin: 0 auto;
    align-self: center;
  }
}
