@import "src/blocks/header/**/*.scss";
@import "src/blocks/footer/footer.scss";
@import "src/blocks/label/**/*.scss";
@import "src/blocks/find-room-form/find-room-form.scss";

.container {
  max-width: 100%;
  display: flex;
  align-items: center;
}

.container_bg_for-landing {
  min-height: 831px;
  background-image: url(/assets/img/website/landing/bg-landing-page.svg);
  background-position: bottom;
  background-repeat: no-repeat;  
  background-size: cover;  
}

.find-room-form-wrapper {
  margin-left: 140px;
  margin-top: 70px;
  align-self: start;
}

@media (max-width: 992px) {
  .find-room-form-wrapper {
    margin: 0 auto;
    align-self: center;
  }
}
