mixin copyright(isAdaptive)
  div.copyright-bar(class= isAdaptive ? 'copyright-bar_responsive' : '')
    div.copyright-bar__title
      p Copyright © 2018 Toxin отель. Все права защищены.
    div.copyright-bar__social-networks
      a.copyright-bar__link(target="_blank", href="https://twitter.com", rel="noopener noreferrer")
          img(src="assets/img/copyright-bar/twitter.svg", alt="twitter")
      a.copyright-bar__link(target="_blank", href="https://facebook.com", rel="noopener noreferrer")
          img(src="assets/img/copyright-bar/facebook.svg", alt="facebook")   
      a.copyright-bar__link(target="_blank", href="https://instagram.com", rel="noopener noreferrer")
          img(src="assets/img/copyright-bar/instagram.svg", alt="instagram")