.checkbox-list {
  list-style: none;
  padding: 0;
  margin: 3px 0px;
  z-index: 100;
}

.checkbox-list__item {
  position: relative;
  margin: 0 0 10px;

  &:last-of-type {
    margin-bottom: 0;
  }
}
