div.photo
  div.photo__item.photo__item_size_large.photo__item_bg_image-0 
  div.photo__item
    div.photo-column
      div.photo-column__item.photo-column__item_transform_matrix.photo-column__item_bg_image-1 
      div.photo-column__item.photo-column__item_bg_image-2