div.photo
  div.photo__item.photo__item_bg-image-0 
  div.photo__item.photo-column
    div.photo-column__item.photo-column__item_matrix.photo-column__item_bg-image-1 
    div.photo-column__item.photo-column__item_bg-image-2