.room-title {
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__number {
    font-family: QuicksandBold;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #1f2041;
    margin: 0;
    margin-right: 5px;

    &_size-20 {
      strong {
        font-size: 20px;
      }
    }

    &_size-30 {
      strong {
        font-size: 30px;
      }
    }
  }

  &__type {
    font-family: MontserratBold;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #bc9cff;
    align-self: top;
  }

  &__price {
    font-family: MontserratRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.5);
    margin: 0;

    strong {
      font-family: MontserratBold;
      font-weight: bold;
    }
  }
}
