.input.input:hover,
.input.input_hovered {
  border: 1px solid rgba(31, 32, 65, 0.5);
  font-family: Montserrat, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}
