.base
  ul
   li
    a(href="#register") Страница регистрации
   li
    a(href="#details") Детали номера
   li
    a(href="#filter") Поиск номера / фильтр 
   li
    a(href="#findroom") Целевая страница
   li
    a(href="#cards") Формы
   li
    a(href="#elements") Элементы
   li
    a(href="#haf") Headers and footers
   li
    a(href="#cat") Шрифты 