.toggle {
  &__wrapper {
    position: relative;
  }

  &__button {
    z-index: -1;
    opacity: 0;

    & + .toggle__label {
      display: inline-block;
      cursor: pointer;
      padding: 0 0 0 30px;
      font-family: Montserrat, Arial, sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: rgba(31, 32, 65, 0.75);
    }

    & + .toggle__label:before {
      content: "";
      position: absolute;
      width: 40px;
      height: 20px;
      border: 1px solid rgba(31, 32, 65, 0.25);
      border-radius: 10px;
      background: #ffffff;
      transition: 0.2s;
      left: 0px;
    }

    & + .toggle__label:after {
      content: "";
      position: absolute;
      width: 12px;
      height: 12px;
      background: rgba(31, 32, 65, 0.25);
      border-radius: 50%;
      transition: 0.2s;
      left: 5px;
      top: 3px;
    }

    &:checked + .toggle__label:before {
      border: 1px solid #bc9cff;
      transition: 0.2s;
    }

    &:checked + .toggle__label:after {
      left: 25px;
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      transition: 0.2s;
      top: 3px;
    }
  }
}
