mixin roomTitle(number, price, mixClass, modeClass, isLux)
  div.room-title(class!=mixClass)
    p.room-title__number(class!=modeClass) № 
      strong= number
      if isLux
        span.room-title__type  люкс      
    p.room-title__price
      span
        strong= price
        |  в сутки