.element__logo {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 48px;
  height: 48px;
  background: url(/assets/img/logo/logo.svg);
}

.kits {
  display: flex;
  flex-wrap: nowrap;
  margin: 10% 10%;
  justify-content: space-between;
}

.kit__block {
  display: flex;
  flex-wrap: nowrap;
}

.colors,
.titles,
.types,
.hedears {
  display: flex;
  flex-flow: column nowrap;
}

.colors,
.titles {
  justify-content: space-around;
}

.types,
.hedears {
  justify-content: flex-start;
}

.title__block {
  line-height: 29px;
}

.title__p {
  margin: 0;
}

.title__p_size-b {
  font: 19px QuicksandBold;
}

.title__p_size-r {
  font: 19px QuicksandRegular;
}

.title__p_color {
  color: #1f2041;
}

.color__block {
  width: 70px;
  height: 70px;
  margin: 10px 40px;
  border-radius: 6px;
}

.types__block {
  display: flex;
  width: 500px;

  &_mb-50 {
    margin-bottom: 50px;
  }  
}

.tag {
  width: 50px;
}

.types__element {
  margin: 0;

  &_ta-right {
    text-align: right;
  }  

  &_mr-30 {
    margin-right: 30px;
  }
}

.bg-dark-shade-100 {
  background: rgba(31, 32, 65, 1);
}

.bg-dark-shade-75 {
  background: rgba(31, 32, 65, 0.75);
}

.bg-dark-shade-50 {
  background: rgba(31, 32, 65, 0.5);
}

.bg-dark-shade-25 {
  background: rgba(31, 32, 65, 0.25);
}

.bg-dark-shade-5 {
  background: rgba(31, 32, 65, 0.05);
}

.bg-purple {
  background: #bc9cff;
}

.bg-green {
  background: #6fcf97;
}

.dark-shade-100 {
  color: rgba(31, 32, 65, 1);
}

.dark-shade-75 {
  color: rgba(31, 32, 65, 0.75);
}

.dark-shade-25 {
  color: rgba(31, 32, 65, 0.25);
}

.quicksand-bold-xl {
  font: 24px QuicksandBold;
  line-height: 30px;
}

.quicksand-bold-l {
  font: 19px QuicksandBold;
  line-height: 24px;
}

.montserrat-bold-s {
  font: 12px MontserratBold;
  line-height: 15px;
  text-transform: uppercase;
}

.montserrat-regular-m {
  font: 14px MontserratRegular;
  line-height: 24px;
}

.montserrat-regular-xl {
  font: 24px MontserratRegular;
  line-height: 29px;
}

.montserrat-regular-l {
  font: 19px MontserratRegular;
  line-height: 23px;
}

.montserrat-regular-s {
  font: 12px MontserratRegular;
  line-height: 15px;
  text-transform: uppercase;
}