@import "../blocks/button/button.scss";
@import "../blocks/header/header.scss";
@import "../blocks/footer/footer.scss";

.element__logo {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 48px;
  height: 48px;
  background: url(/assets/img/logo/logo.svg);
}

.headers {
  margin-top: 140px;
  margin-bottom: 40px;

  &__item {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.footer-info {
  position: relative;
  margin: 40px auto 140px auto;
  width: 768px;
  height: 367px;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  &__link {
    margin: 0 10px;
  }
  &__title {
    margin-top: 20px;
    margin-bottom: 25px;
    display: block;
    height: 18px;
    font-family: MontserratRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: rgba(31, 32, 65, 0.75);

    p {
      margin: 0;
    }
  }
}
