footer.footer
  div.widget
    include ../widget-list/widget-list
    div.widget__item
      div.widget__logo
        img(src="assets/img/logo/logo-color.svg", alt="logo")        
      div.widget__description
        p Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
    div.widget__item
      +widgetList([{text: 'Навигация', active: 'list__element_active'}, {text: 'О нас'}, {text: 'Новости'}, {text: 'Служба поддержки'}, {text: 'Услуги'}])
    div.widget__item
      +widgetList([{text: 'О нас', active: 'list__element_active'}, {text: 'О сервисе'}, {text: 'Наша команда'}, {text: 'Вакансии'}, {text: 'Инвесторы'}])
    div.widget__item
      +widgetList([{text: 'Служба поддержки', active: 'list__element_active'}, {text: 'Соглашения'}, {text: 'Сообщества'}, {text: 'Связь с нами'}])
    div.widget__item
      ul.list
        li.list__element.list__element_active Подписка
        li.list__element Поулчите специальные предложения и новости сервиса
        li.list__element.element
          input.element__email(placeholder="Email")
          span.element__arrow                           
  div.copyright-bar
    div.copyright-bar__title
      p Copyright © 2018 Toxin отель. Все права зачищены.
    div.copyright-bar__social-networks
      a.copyright-bar__link(target="_blank", href="/mock-address/change-me", rel="noopener noreferrer")
        img(src="assets/img/footer/twitter.svg", alt="twitter")
      a.copyright-bar__link(target="_blank", href="/mock-address/change-me", rel="noopener noreferrer")
        img(src="assets/img/footer/facebook.svg", alt="facebook")   
      a.copyright-bar__link(target="_blank", href="/mock-address/change-me", rel="noopener noreferrer")
        img(src="assets/img/footer/instagram.svg", alt="instagram")