.button__icon {
    position: absolute;
    display: inline-block;
    width: 44px;
    height: 44px;
    background-image: url(/assets/img/button/__icon/icon-arrow.svg);
    background-repeat: no-repeat;
    right: 0;
    top: 0;  
    cursor: pointer;
  }