div.wrapper-cards-logo
  include ../../../blocks/logo/logo
  +logo()
div.cards
  div.card__column
    div.card__find-room-form
      include ../../../blocks/find-room-form/find-room-form 
    div.card__register-form
      include ../../../blocks/register-form/register-form
  div.card__column
    div.card__reserve-form
      include ../../../blocks/reserve-form/reserve-form
    div.card__login-form
      include ../../../blocks/login-form/login-form     
  div.card__column
    include ../../../blocks/room/room
    div.card__datepicker-plugin
      - var options = '{"mode":"Range","state":"Expanded","focus":true}';
      - var values = '{"start":{"date":25,"month":7,"year":2020},"end":{"date":28,"month":7,"year":2020}}';
      div.datepicker-plugin.js-datepicker-plugin(data-options=options, data-values=values)
    div.card__room
      +cardroom('888', '9 990₽', 'medium', true, '145', '0', 'rate-first', [{value: '5', checked:"checked"}, {value: '4'}, {value: '3'}, {value: '2'}, {value: '1'}])
    +cardroom('840', '9 990₽', 'medium', false, '65', '1', 'rate-second', [{value: '5'}, {value: '4', checked:"checked"}, {value: '3'}, {value: '2'}, {value: '1'}])