@import "src/blocks/find-room-form/find-room-form.scss";
@import "src/blocks/register-form/register-form.scss";
@import "src/blocks/login-form/login-form.scss";
@import "src/blocks/reserve-form/reserve-form.scss";
@import "src/blocks/room/room.scss";
@import "src/blocks/logo/logo.scss";



.wrapper {
  position: relative;
  top: 30px;
  left: 30px;
}

.cards {
  position: relative;
  width: 1160px;
  margin: 150px 140px 140px 140px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

.card__column {
  position: relative;
  margin-right: 40px;

  &:last-of-type {
    margin-right: 0;
  }
}

.card__find-room-form,
.card__reserve-form {
  position: relative;
  margin-bottom: 40px;
}
.card__register-form,
.card__login-form {
  position: relative;
}

.card__calendar {
  margin-bottom: 40px;
  width: 320px;
  height: 411px;

  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;

  .datepicker__header {
    display: none;
  }

  & .datepicker-range .datepicker__calendar {
    top: 0;
  }
}

.card__room {
  position: relative;
  margin-bottom: 40px;
}
