.footer {
  position: relative;
  width: 100%;

  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}

.widget {
  padding: 100px 140px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);

  &__logo {
    min-width: 260px;
  }

  &__description {
    font: 14px MontserratRegular;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
  }

  &__item {
    //width: calc(100%/1440 * 200);
    flex: 1 1 auto;
    min-width: 150px;
    min-height: 168px;
    margin: 0;
    margin-right: 40px;
  }

  &__item:first-child,
  &__item:last-child {
    flex: 2 2 calc(100% / 1440 * 260);
    min-width: 260px;
    //margin-right: calc(100%/1440 * 140);
  }

  &__item:last-child {
    margin-right: 0;
    max-width: 260px;
  }
}

.list {
  padding-left: 0;
  margin: 0;
  list-style-type: none;

  &__element {
    margin: 20px 0;

    font: 14px MontserratRegular;
    line-height: 17px;
    color: rgba(31, 32, 65, 0.5);

    &:last-child {
      margin-bottom: 0;
    }

    &_active {
      margin-top: 0px;

      font: 12px MontserratBold;
      line-height: 15px;
      text-transform: uppercase;
      color: #1f2041;
    }
  }
}

.element {
  position: relative;

  &__email {
    width: 100%;
    height: 44px;
    padding: 0 42px 0 15px;
    background: #ffffff;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    &::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      font: 14px MontserratRegular;
      line-height: 24px;
      color: rgba(31, 32, 65, 0.25);
    }
  }
  &__arrow {
    position: absolute;
    display: inline-block;
    width: 42px;
    height: 42px;
    right: 0;
    top: 1px;
    background: url(/assets/img/footer/arrow_purple.svg) no-repeat;
  }
}

.copyright-bar {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);

  &__title {
    margin-left: calc(100% / 1440 * 140);
    font: 14px MontserratRegular;
    line-height: 17px;
    color: rgba(31, 32, 65, 0.75);
  }

  &__social-networks {
    margin-right: calc(100% / 1440 * 140);
  }

  &__link {
    margin-left: 20px;
    width: 24px;
    height: 24px;
  }
}

@media (max-width: 1439px) {
  .widget {
    padding: 100px calc(140 / 1440 * 100%);
    flex-wrap: wrap;

    &__item:first-child {
      order: 4;
      flex: none;
      width: 100%;
      text-align: center;

      margin-top: 50px;
      margin-bottom: -150px;
      margin-right: 0;
    }
  }
}
@media (max-width: 1200px) {
}
@media (max-width: 992px) {
}
@media (max-width: 767px) {
  .copyright-bar {
    flex-wrap: wrap;
    justify-content: center;
    height: auto;

    &__title,
    &__social-networks {
      margin: 10px;
    }

    &__link {
      margin: 10px;
    }
  }

  .widget {
    &__item {
      height: auto;
      margin: 10px 20px;
    }

    &__item:first-child {
      min-height: 168px;
      margin: 50px 0 -150px 0;
    }
  }

  .list {
    &__element {
      display: none;

      &_active {
        display: block;
        position: relative;

        padding-left: 25px;
        cursor: pointer;

        &::before,
        &::after {
          position: absolute;
          content: "";
          width: 10px;
          height: 1px;
          background-color: #000;
          top: 7px;
          left: 0px;
        }

        &::after {
          transform: rotate(-40deg);
          left: 7.5px;
        }

        &::before {
          transform: rotate(40deg);
        }
      }

      &_expanded {
        display: block;
        padding-left: 5px;
      }
    }
  }
}
