.header {
  position: relative;
  max-width: 100%;
  height: 70px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 140px;

  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);

  &__menu {
    margin-left: 20px;
  }

  &__control,
  &__login {
    margin-left: 20px;
  }

  &__logo {
    position: relative;
    width: 345px;
  }
}

.burger {
  position: absolute;
}

.menu {
  position: relative;
  display: flex;
  flex-shrink: 3;
  justify-content: space-between;

  max-width: 446px;
  padding: 0;
  list-style: none;

  &__link {
    position: relative;
    min-width: 45px;

    display: flex;
    align-items: center;

    margin: 0 10px;

    color: rgba(31, 32, 65, 0.5);
    font-family: Montserrat, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    &:first-of-type {
      margin-left: 0;
    }
    &:last-of-type {
      margin-right: 0;
    }

    &_active {
      color: rgba(31, 32, 65, 0.75);
      font-family: Montserrat, Arial, sans-serif;
      font-weight: 700;
    }
  }

  &__arrow {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 21px;
    background: url(/assets/img/header/nav.svg) no-repeat;
  }
}

.login {
  position: relative;
  width: 303px;

  display: flex;

  &__pipe {
    width: 1px;
    margin-right: 20px;
    height: 30px;
    background: rgba(31, 32, 65, 0.1);
  }

  &__text {
    position: relative;
    align-self: center;
    min-width: 45px;

    color: rgba(31, 32, 65, 0.5);
    font-family: Montserrat, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
}

.control {
  position: relative;
  width: 303px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__button {
    margin-right: 20px;
  }

  .button.button_wide {
    width: 196px;
    height: 34px;
    outline: none;

    &:focus {
      border: 2px solid gray;
    }
  }

  .button.button_small {
    width: 87px;
    height: 34px;

    background: #ffffff;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    color: #bc9cff;
    border: 2px solid #bc9cff;
    border-radius: 22px;
    outline: none;

    &:focus {
      border: 2px solid gray;
    }
  }
}

@media (max-width: 1440px) {
  .header {
    padding: 0 calc(140 / 1440 * 100%);
  }
  .menu {
    max-width: 446px;
  }
  .control {
    max-width: 303px;
  }
}
@media (max-width: 1200px) {
  .header {
    padding: 0 25px;
  }
}
@media (max-width: 992px) {
  .control {
    max-width: 100px;

    &__login {
      display: inline-block;
      width: 30px;
      margin: 0 5px;
      background: url(/assets/img/header/login.svg) center no-repeat;
      cursor: pointer;
    }

    &__register {
      display: inline-block;
      width: 30px;
      margin: 0 5px;
      background: url(/assets/img/header/follow.png) center no-repeat;
      cursor: pointer;
    }
    .button_small,
    .button_wide {
      opacity: 0;
      visibility: hidden;
    }
  }
}
@media (max-width: 767px) {
  .header {
    max-width: none;
    min-width: 380px;
  }

  .burger {
    position: relative;
    min-width: 40px;
    height: 30px;
    margin-right: 15%;

    cursor: pointer;

    &::after,
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      background-color: #bc9cff;
      transition: all 0.3s ease 0s;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }

    &__icon {
      position: absolute;
      width: 100%;
      height: 3px;
      left: 0;
      top: 14px;
      background-color: #bc9cff;
      transition: all 0.3s ease 0s;
    }

    &_active {
      &::before {
        transform: rotate(45deg);
        top: 13px;
      }
      &::after {
        transform: rotate(-45deg);
        bottom: 14px;
      }

      .burger__icon {
        transform: scale(0);
      }
    }
  }

  .menu {
    visibility: hidden;
    overflow: auto;
    transition: all 0.3s ease 0s;

    position: absolute;
    flex-direction: column;
    max-width: none;
    width: 100%;
    top: 70px;
    left: -100%;
    margin: 0px auto;
    align-items: center;
    background-color: #8ba4f9;
    padding: 10px 0;
    z-index: 2;

    &__link {
      color: #fff;
      font-family: Montserrat, Arial, sans-serif;
      font-weight: 700;
      font-size: 20px;
      line-height: 20px;
      padding: 10px;

      &_active {
        color: rgba(31, 32, 65, 0.75);
      }
    }

    &_active {
      visibility: initial;
      left: 0;
    }
  }
}
