form.register-form
  include ../title/title
  include ../label/label
  +title('Регистрация аккаунта', 'register-form__title')
  include ../two-input/two-input
  +twoInputs({type: 'text', placeholder: 'Имя', mixClass: 'register-form__input'}, {type: 'text', placeholder: 'Фамилия', mixClass: 'register-form__input'})
  include ../radio-button/radio-button
  +radio('register-form__radio')
  div.birthdate.register-form__birthdate
    +label('дата рождения', 'label_bold')
    div.birthdate__wrapper
      div.register-form__datepicker
  div.userdata.register-form__userdata
    +label('данные для входа в сервис', 'label_bold userdata__label')
    +twoInputs({type: 'email', name: 'email', placeholder: 'Email', mixClass: 'userdata__input'}, {type: 'password', name: 'password', placeholder: 'Пароль', mixClass: 'userdata__input'})
  include ../toggle-button/toggle-button
  +toggle('Получать спецпредложения', null, 'register-form__toggle')      
  include ../button/button
  +button('перейти к оплате', 'register-form__button button_wide')
    span.icon-button    
  div.to-sing-in
    div.to-sing-in__span
      span Уже есть аккаунт на Toxin
    +button('войти', 'button_small')