.button {
  font-family: Montserrat, Arial, sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  height: 44px;
  border-radius: 22px;
  border: none;
  /* identical to box height */

  text-align: center;
  text-transform: uppercase;

  cursor: pointer;
  position: relative;

  &_h-15 {
    height: 15px;
  }
  &_h-44 {
    height: 44px;
  }
  &_purple {
    color: #bc9cff;
  }
  &_white {
    color: #ffffff;
  }
  &_gray {
    color: rgba(31, 32, 65, 0.5);
  }
  &_bg-white {
    background: #fff;
  }
  &_bg-purple {
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  }
  &_w-99 {
    width: 99px;
  }
  &_with-border {
    border: 2px solid #bc9cff;
    border-radius: 22px;
  }
  &_without-border {
    border: none;
    padding: 0;
  }
  &_disabled {
    opacity: 0.5;
  }
  & ~ .button {
    margin-left: 20px;
  }

  &_wide {
    width: 100%;
    height: 44px;
    border-radius: 22px;
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    color: #ffffff;
    border: none;
    outline: none;

    &:focus {
      border: 2px solid gray;
    }
  }

  &_small {
    height: 44px;
    width: 99px;
    background: #fff;
    outline: none;
    color: #bc9cff;
    border: 2px solid #bc9cff;
    border-radius: 22px;

    &:focus {
      border: 2px solid gray;
    }
  }
}

.icon-button {
  position: absolute;
  display: inline-block;
  width: 44px;
  height: 44px;
  background-image: url(/assets/img/form_elements/arrow-forward.svg);
  background-repeat: no-repeat;
  right: 0;
  top: 0;

  cursor: pointer;
}

.to-sing-in__span,
.to-create__span {
  height: 18px;
  font-family: Montserrat, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}
