mixin service(count, total, isSpecial)
  div.reserve-form__service
    span(class= isSpecial ? 'reserve-form__special-count' : 'reserve-form__count')= count
    span.reserve-form__total= total
    if block
      block