.label {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 12px;  
  text-transform: uppercase;

  &_for-details {
    display: block;
    height: 24px;
    font-family: Montserrat, Arial, sans-serif;
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    color: #1f2041;
    text-transform: none;

    margin-bottom: 20px;
  }

  &_for-filter {
    display: block;
    height: 30px;
    font-family: Montserrat, Arial, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #1f2041;
    text-transform: none;

    margin-bottom: 20px;
  }

  &_transform-none {
    text-transform: none;
    margin-top: 6px;
  }
}
