@import "../toggle-button/toggle-button.scss";
@import "../radio-button/radio-button.scss";
//@import "../input/input.scss";
//@import "../button/button.scss";
@import "../title/title.scss";

.register-form {
  width: 380px;
  height: 646px;
  padding: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  &__title {
    margin-bottom: 20px;
  }

  &__input {
    margin-bottom: 10px;
    width: 100%;
    height: 100%;
  }

  &__userdata {
    margin-bottom: 10px;
  }

  &__radio {
    margin-bottom: 20px;
  }

  &__toggle {
    margin-bottom: 20px;
  }

  &__button {
    position: relative;
    margin-bottom: 30px;
  }

  &__birthdate {
    margin-bottom: 20px;
  }
}

.userdata {
  max-height: 118px;
  height: 100%;

  &__label {
    display: block;
    margin-bottom: 5px;
  }

  &__input {
    margin-bottom: 10px;
    width: 100%;
    height: 100%;

    &:last-child {
      margin-bottom: 0px;
    }
  }
}

.birthdate {
  position: relative;
  margin-bottom: 20px;
  margin-top: 5px;

  &__wrapper {
    position: relative;
    margin-top: 5px;

    .header__text {
      color: rgba(31, 32, 65, 0.25);
    }
  }
}

.to-sing-in {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
