@import "../rate/rate.scss";
@import "../title/room-title.scss";
@import "../../../plugins/imgslider/imgslider.scss";

.card {
  width: 270px;
  height: 257px;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;

  &__roomphotos {
    position: relative;
    height: 150px;
    margin-bottom: 20px;
  }

  &__roomdata {
    position: relative;
    padding: 0 20px;
  }

  &__roomrate {
    padding: 0 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__rateline {
    margin: 0 20px;
    margin-top: 5px;
    width: 230px;
  }

  &__room-title {
    padding: 0 20px;
  }
}

.rateline {
  background: rgba(31, 32, 65, 0.1);
  max-width: 280px;
  height: 1px;
  border: none;
}

.count {
  font-family: Montserrat, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5);

  strong {
    font-family: Montserrat, Arial, sans-serif;
    font-weight: 700;
  }
}
