@import './__input/rate__input.scss';
@import './__label/rate__label.scss';
@import './__label/_active/rate__label_active.scss';

.rate {
  box-sizing: border-box;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  width: 125px; 
}

.rate__wrapper {
  position: relative;
  width: 24px;
} 
