mixin rate(name, items)
  .rate  
    each item in items
      include ./__label/rate__label
      include ./__input/rate__input      
      label.rate__wrapper
        +rateInput(item.value, name, item.checked)
        +rateLabel(item.value)