@import "../checkbox-list/checkbox-list.scss";
@import "../checkbox-list_expandable/checkbox-list_expandable.scss";
@import "../labels/labels.scss";
@import "../room/room.scss";

.container_filter {
  height: 100%;
  display: block;
}

.search-room {
  display: flex;
  padding: 30px 140px 70px 140px;

  &__filter {
    margin-right: 60px;
  }
}

.filter {
  width: 266px;

  &__item {
    margin-bottom: 30px;

    &:first-child {
      margin-bottom: 20px;
    }
  }

  &__datepicker-wrapper {
    position: relative;
    margin-top: 5px;
  }

  &__multiselect-wrapper {
    position: relative;
    margin-top: 5px;
  }

  &__slider-wrapper {
    margin-top: 20px;
  }
}

.slider-text {
  font-family: MontserratRegular;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: rgba(31, 32, 65, 0.5);
}

.item {
  &__label {
    display: block;
    margin-bottom: 16px;
  }
}

.font-montserrat {
  font-family: MontserratRegular;
}

.result {
  width: 840px;

  &__item {
    margin-right: 10px;
    margin-bottom: 20px;
  }
}

.result-room {
  display: flex;
  flex-wrap: wrap;

  &_mb-40 {
    margin-bottom: 40px;
  }
}

.result-pagination {
  .pagination__container {
    margin: 0 auto;
    flex-wrap: wrap;
  }

  .pagination__info {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .filter {
    top: 175px;
    left: -285px;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;

    position: absolute;
    background-color: rgb(189, 173, 173);
    padding: 15px;
    z-index: 100;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    &:hover {
      left: 0;
    }
  }

  .search-room {
    padding: 30px 70px 70px 70px;
  }

  .search-room__filter {
    margin-right: 40px;
  }

  .result {
    .label {
      height: 50px;
    }
  }
}