.room-title__room {
  font-family: Montserrat, Arial, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 29px;
  color: #1f2041;
  margin: 0;
  margin-right: 5px;
}

.room-title__type {
  font-family: Montserrat, Arial, sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #bc9cff;
  vertical-align: sub;
  padding: 1px;
}