.form {
  position: absolute;
  min-width: 380px;
  margin-left: calc(100% / 1440 * 530);
  margin-right: calc(100% / 1440 * 530);
  padding: 30px;
  height: 646px;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.form__login {
  height: 358px;
}

.form__item {
  margin: 10px 0;

  label {
    margin-bottom: 5px;
    font-family: Montserrat, Arial, sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;

    /* Dark 100% */
    color: #1f2041;
  }

  span {
    font-family: Montserrat, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
  }

  .form__email,
  .form__date,
  label[for="birthdate"],
  label[for="email"] {
    display: block;
  }

  .form__email,
  .form__password,
  .form__date,
  .form__name,
  .form__lastname {
    width: 100%;
    height: 44px;
    padding: 0 15px;
    background: #ffffff;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    &::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      font-family: Montserrat, Arial, sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: rgba(31, 32, 65, 0.25);
    }
  }

  .form__man {
    z-index: -1;
    opacity: 0;

    & + label {
      cursor: pointer;
      padding: 0 0 0 10px;
      font-family: Montserrat, Arial, sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
    }

    & + label:before {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      border: 1px solid rgba(31, 32, 65, 0.25);
      border-radius: 50%;
      background: #ffffff;
      left: 30px;
      top: 198px;
    }

    & + label:after {
      content: "";
      position: absolute;
      width: 12px;
      height: 12px;
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      border-radius: 50%;
      opacity: 0;
      transition: 0.2s;

      left: 35px;
      top: 203px;
    }

    &:checked + label:before {
      border: 1px solid #bc9cff;
    }

    &:checked + label:after {
      opacity: 1;
    }
  }

  .form__woman {
    z-index: -1;
    opacity: 0;

    & + label {
      cursor: pointer;
      padding: 0 0 0 30px;
      font-family: Montserrat, Arial, sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
    }

    & + label:before {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      border: 1px solid rgba(31, 32, 65, 0.25);
      border-radius: 50%;
      background: #ffffff;
      left: 147px;
      top: 198px;
    }

    & + label:after {
      content: "";
      position: absolute;
      width: 12px;
      height: 12px;
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      border-radius: 50%;
      opacity: 0;
      transition: 0.2s;
      left: 152px;
      top: 203px;
    }

    &:checked + label:before {
      border: 1px solid #bc9cff;
      transition: 0.2s;
    }

    &:checked + label:after {
      opacity: 1;
      transition: 0.2s;
    }
  }

  .form__offer {
    z-index: -1;
    opacity: 0;

    & + label {
      cursor: pointer;
      padding: 0 0 0 30px;
      font-family: Montserrat, Arial, sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
    }

    & + label:before {
      content: "";
      position: absolute;
      width: 40px;
      height: 20px;
      border: 1px solid rgba(31, 32, 65, 0.25);
      border-radius: 10px;
      background: #ffffff;
      transition: 0.2s;
      left: 30px;
      top: 455px;
    }

    & + label:after {
      content: "";
      position: absolute;
      width: 12px;
      height: 12px;
      background: rgba(31, 32, 65, 0.25);
      border-radius: 50%;
      transition: 0.2s;
      left: 35px;
      top: 460px;
    }

    &:checked + label:before {
      border: 1px solid #bc9cff;
      transition: 0.2s;
    }

    &:checked + label:after {
      left: 55px;
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      transition: 0.2s;
    }
  }

  button {
    font-family: Montserrat, Arial, sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    height: 44px;
    border-radius: 22px;
    border: none;
    text-transform: uppercase;
  }

  button.form__create {
    margin-left: 52px;
  }

  button.form__login {
    margin-left: 30px;
  }

  button.form__login,
  button.form__create {
    width: calc(100% / 320 * 99);
    border: 2px solid #bc9cff;
    color: #bc9cff;
  }
  button.form__pay,
  button.form__mlogin {
    width: 100%;
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    color: #ffffff;
  }
}

h3 {
  margin: 10px 0;
  font-family: Montserrat, Arial, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;

  /* Dark 100% */
  color: #1f2041;
}

.form__block {
  margin: 20px 0;
}

.form__block:last-child {
  margin: 30px 0;
}
