nav.header
  div.burger
    span.burger__icon 
  div.header__logo
    img(src="assets/img/logo/_bg/logo-color.svg", alt="logo")   
  ul.header__menu.menu
    li.menu__link.menu__link_active О нас
    li.menu__link Услуги
      span.menu__arrow
    li.menu__link Вакансии
    li.menu__link Новости
    li.menu__link Соглашения
      span.menu__arrow
  div.header__control.control
    span.control__login
      button.control__button.button.button_small войти
    span.control__register
      button.button.button_wide зарегистрироваться