@import "src/pages/**/*.scss";

$base-color: green;
$base-color-text: black;

@font-face {
	font-family: 'Montserrat';
	src: url(/assets/fonts/montserrat/montserrat-bold.ttf);
  src: local('☺'), 
  url(/assets/fonts/montserrat/montserrat-bold.woff) format('woff'), 
  url(/assets/fonts/montserrat/montserrat-bold.eot) format('eot'), 
  url(/assets/fonts/montserrat/montserrat-bold.svg) format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url(/assets/fonts/montserrat/montserrat-regular.ttf);
  src: local('☺'),
  url(/assets/fonts/montserrat/montserrat-regular.woff) format('woff'), 
  url(/assets/fonts/montserrat/montserrat-regular.eot) format('eot'),  
  url(/assets/fonts/montserrat/montserrat-regular.svg) format('svg');
	font-weight: 400;
	font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Montserrat, Arial, sans-serif;
  font-weight: 400;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;

  .footer {
    margin-top: auto;
  }

  &.bg_gray {
    background-color: #f4f4f6;
  }

  &.bg_white {
    background-color: #ffffff;
  }
}
