doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name="keywords" content="html, css, javascript, page, fsd, work")
    meta(name="description" content="Training project with hotel room search pages")
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel="icon", href="assets/favicon.ico", type="image/ico")
    title Menu  
  body
    .base
      ul
        li
          a(href="./register.html") Страница регистрации
        li
          a(href="./login.html") Страница входа  
        li
          a(href="./details-room.html") Детали номера
        li
          a(href="./search-room.html") Поиск номера / фильтр 
        li
          a(href="./landing.html") Целевая страница
        li
          a(href="./cards.html") Формы
        li
          a(href="./elements.html") Элементы
        li
          a(href="./headers-and-footers.html") Headers and footers
        li
          a(href="./colors-and-type.html") Шрифты 