mixin header(isAuthorized)
  nav.header.js-header
    include ../burger/burger
    div.header__logo
      a(href="http://localhost:8082") 
        img(src="assets/img/logo/_bg/logo-color.svg", alt="logo")   
    ul.header__menu
      li.header__element
        a.header__link(href="/mock-address/change-me") О нас
      li.header__element
        a.header__link(href="/mock-address/change-me") Услуги
        span.header__arrow
      li.header__element
        a.header__link(href="/mock-address/change-me") Вакансии
      li.header__element
        a.header__link(href="/mock-address/change-me") Новости
      li.header__element 
        a.header__link(href="/mock-address/change-me") Соглашения
        span.header__arrow
    include ./__control/header__control
    +control(isAuthorized)