@import '../burger/burger.scss';

.header {
  position: relative;
  max-width: 100%;
  height: 70px;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  padding: 0 140px;

  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}

.header__logo {
  position: relative;
  width: 345px;
  flex-grow: 1;
}

.header__menu {
  position: relative;
  display: flex;
  flex-shrink: 3;
  justify-content: space-between;

  margin-left: 20px;

  max-width: 447px;
  padding: 0;
  list-style: none;
}

.header__element {
  position: relative;
  min-width: 45px;

  display: flex;
  align-items: center;

  margin: 0 10px;
  
  font-family: Montserrat, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  &:first-of-type {
    margin-left: 0;
  }
  &:last-of-type {
    margin-right: 0;
  }
}

.header__link {
  text-decoration: none;
  color: rgba(31, 32, 65, 0.5);
}

.header__element_selected {
  color: rgba(31, 32, 65, 0.75);
  font-family: Montserrat, Arial, sans-serif;
  font-weight: 700;
}

.header__element .header__arrow {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 21px;
  background: url(/assets/img/header/nav.svg) no-repeat;
  cursor: pointer;
}

@media (max-width: 1440px) {
  .header {
    padding: 0 calc(140 / 1440 * 100%);
  }
  .header__menu {
    max-width: 447px;
  }
  .header__control {
    max-width: 303px;
  }
}
@media (max-width: 1200px) {
  .header {
    padding: 0 25px;
  }
}
@media (max-width: 992px) {
  .header__control {
    max-width: 100px;

    .header__login {
      display: inline-block;
      width: 30px;
      margin: 0 5px;
      background: url(/assets/img/header/__control/login.svg) center no-repeat;
      cursor: pointer;
    }

    .header__register {
      display: inline-block;
      width: 30px;
      margin: 0 5px;
      background: url(/assets/img/header/__control/follow.png) center no-repeat;
      cursor: pointer;
    }
    .header__login .button,
    .header__register .button {
      opacity: 0;
      visibility: hidden;
    }
  }
}
@media (max-width: 767px) {
  .header {
    max-width: none;
    min-width: 380px;
  }

  .header__menu {
    visibility: hidden;
    overflow: auto;
    transition: all 0.3s ease 0s;

    position: absolute;
    flex-direction: column;
    max-width: none;
    width: 100%;
    top: 70px;
    left: -100%;
    margin: 0px auto;
    align-items: center;
    background-color: #8ba4f9;
    padding: 10px 0;
    z-index: 2;
  }

  .header__element {
    color: #fff;
    font-family: Montserrat, Arial, sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    padding: 10px;

    &_selected {
      color: rgba(31, 32, 65, 0.75);
    }
  }

  .header__menu_active {
    visibility: initial;
    left: 0;
  }  
}
