@import "../checkbox/checkbox.scss";

.checkbox-list {
  list-style: none;
  padding: 0;
  margin: 3px 0px;
  z-index: 100;

  &__item {
    position: relative;
    margin: 0 0 10px;
    min-height: 20px;

    &.li_h-40 {
      min-height: 40px;

      input {
        vertical-align: initial;
      }
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    &.li_h-52 {
      min-height: 52px;

      label {
        min-height: 52px;

        input {
          vertical-align: top;
        }

        .checkbox-label {
          min-height: 52px;
          p {
            margin: 0;

            &.text__title {
              margin-bottom: 5px;
              color: rgba(31, 32, 65, 0.75);
            }
          }
        }
      }
    }

    label {
      display: block;
    }
  }

  .checkbox-label {
    font-family: MontserratRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */

    /* Dark 50% */
    color: rgba(31, 32, 65, 0.5);

    &.checkbox-label_w-203 {
      width: 203px;
    }
    &.checkbox-label_w-234 {
      width: 234px;
    }
  }
}
