.bullet-list__item {
  max-width: 240px;
  margin-bottom: 10px;
  color: rgba(31, 32, 65, 0.75);
  font-family: Montserrat, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}