.widget-list {
  padding-left: 0;
  padding-top: 4px;
  margin: 0;
  list-style-type: none;   
}

@media (max-width: 767px) {
  .widget-list {
    &__element {
      display: none;      
    }
    &__element-special {
      display: none;      
    }
  }  
}